.otp-container{
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}
.otp-input{
    height: 50px;
    width: 50px;
    font-size: 40px;
    margin: 5px;
    text-align: center;
    border: 2px solid #ccc;
}